html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bodyLight);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
  margin: 0;
  padding: 0;
}

a, ul, ol {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.alinearTitulo{
  align-self: flex-start;
}