html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
  margin: 0;
  padding: 0;
}

a, ul, ol {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}
#mainShaderBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.mainContent {
    position: relative;
    z-index: 1;
}

.contenedor{
    margin: 0 auto;
    width: 90%;
}
