

:root{
    --bodyLight: #222;
    --bodyDark: #222;

    --colorModoDarkFondo: #222;
    --colorModoLightFondo: #999;


    --colorLineaLight: #999;
    --colorLineaDark: #fff;
    
    --colorTextoLight: #222;
    --colorTextoDark: #fff;
    --colorBorde: #999;
    --borde: 2px solid var(--colorBorde);

    /*Color de btns Dark mode*/
    
    --fuenteTitulo: 'Poiret One', sans-serif;
    --grosorTitulo: 400;
    --estiloTitulo: normal;

    --fuenteEnlaces: 'Kode Mono', monospace;
    /* <weight>: Use a value from 400 to 700 */
    --grosorEnlaces: 400;
    --estiloEnlaces: normal;


    --tamanoTitulo: 3rem;
    --tamanoEnlaces: 1.2rem;
    --tamanoTexto: 1rem;


    --btnLight: #999;
    --btnDark: #222;

}