

:root{
    --bodyLight: #E3E3E3;
    --bodyDark: #333;

    --colorModoDarkFondo: #E3E3E3;
    --colorModoLightFondo: #3F3D3D;


    --colorLineaLight: #3F3D3D;
    --colorLineaDark: #E3E3E3;
    
    --colorTextoLight: #222;
    --colorTextoDark: #d9d9d9;
    --colorBorde: #222;
    --borde: 2px solid var(--colorBorde);

    /*Color de btns Dark mode*/
    
    --fuenteTitulo: 'Julious Sans One', sans-serif;
    --fuenteEnlaces: 'Open Sans', sans-serif;

    --tamanoTitulo: 3rem;
    --tamanoEnlaces: 1.2rem;
    --tamanoTexto: 1rem;


    --btnLight: #F5F5F5;
    --btnDark: #434343;

}