:root {

    --colorModoDarkFondo: #222;
    --colorModoLightFondo: #999;


    --colorLineaLight: #999;
    --colorLineaDark: #fff;

    --colorbtnDark: #333;
    --colorbtnLight: #fff;

    --colorTextoLight: #d6d6d6;
    --colorTextoDark: #4e4e4e;
    --colorBorde: #999999;
    --colorBordeLight: #444;
    --borde: 2px solid var(--colorBorde);

    /*Color de btns Dark mode*/

    --fuenteTitulo: 'Poiret One', sans-serif3;
    --grosorTitulo: 400;
    --estiloTitulo: normal;

    --fuenteTexto: 'Kode Mono', monospace;
    /* <weight>: Use a value from 400 to 700 */
    --grosorTexto: 400;
    --estiloTexto: normal;


    --tamanoTitulo: 5rem;
    --tamanoEnlaces: 1.7rem;
    --tamanoTexto: 1.2rem;

    --tamanoTituloProyecto: 1.8rem;
    --tamanoTextoProyecto: 0.8rem;
    --tamanoTituloProyectoMobile: 2rem;
    --tamanoTextoProyectoMobile: 0.9rem;
    --tamanoTituloProyectoTablet: 2.2rem;
    --tamanoTextoProyectoTablet: 1.1rem;


    --tamanoTituloMobile: 3.5rem;
    --tamanoEnlacesMobile: 1rem;
    --tamanoTextoMobile: 0.9rem;

    --tamanoTituloTablet: 2.2rem;
    --tamanoEnlacesTablet: 1.2rem;
    --tamanoTextoTablet: 1.1rem;



    --btnLight: #999;
    --btnDark: #222;

}