@use "../global/variables" as v;
@use "../global/tools" as t;

.seccionContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    margin-left: auto;
    width: 75%;
    padding: 24px;
    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    h2,
    h3 {
        padding: 4px;
        font-size: t.fluido(1.5rem, 2rem);
        font-family: v.$fuenteTexto;
        font-weight: v.$grosorTitulo;
        text-decoration: underline double var(--colorBorde);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        font-family: v.$fuenteTexto;
    
        @media (max-width: 768px) {
            gap: 8px;
        }
    }


    .formLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        label {
            font-size: t.fluido(0.875rem, 1rem);
            font-family: v.$fuenteTexto;
        }

        input,
        textarea {
            width: 60%;
            padding: 8px;
            border: 1px solid var(--colorBorde);
            background-color: transparent;
            color: var(--_texto);
            font-family: v.$fuenteTexto;
            font-size: t.fluido(0.875rem, 1rem);
            &:focus {
                outline: 1px solid
                    color-mix(in srgb, var(--colorBorde) 75%, transparent);
                outline-offset: 2px;
            }
        }
        textarea {
            min-height: 100px;
            max-height: 150px;
            max-width: 100%;
            resize: vertical;
            overflow: auto;
            &:focus {
                outline: 1px solid
                    color-mix(in srgb, var(--colorBorde) 75%, transparent);
                outline-offset: 2px;
            }
        }
        button {
            width: 100%;
            padding: 8px 16px;
            font-size: v.$tamanoEnlaces;
            font-family: v.$fuenteTexto;
            cursor: pointer;
            border: 1px solid var(--colorBorde);
            background-color: transparent;
            color: var(--_texto);
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--colorBorde);
                color: var(--_fondoPanel);
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            gap: 8px;
            input,
            textarea {
                width: 100%;
            }
        }
    }
}
