.seccionAboutMe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    text-align: justify;
    margin-left: auto;
    width: 60%;

    padding: 24px;
    position: relative;
    top: -200px;
}

.seccionAboutMe h2
{
    font-size: var(--tamanoTituloTablet);
    font-family: var(--fuenteTexto);
    font-weight: var(--grosorTitulo);
    text-decoration:underline dotted var(--colorBorde);
    margin-bottom: 24px;
}
.seccionAboutMe p
{
    font-size: var(--tamanoTextoTablet);
    font-family: var(--fuenteTexto);
    font-weight: var(--grosorTexto);
    text-transform: uppercase;
    text-align: justify ;
    padding: 8px;
}
.seccionAboutMe p::first-letter
{
    font-size: 130%;
} 
.seccionAboutMe::-webkit-scrollbar
{
    display: none;
}

.seccionAboutMe button{
    display: flex;
    justify-content: space-between;
    font-size: var(--tamanoEnlacesTablet);
    font-family: var(--fuenteTexto);
    font-weight: var(--grosorTexto);
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid var(--colorBorde);
    background-color: transparent;
    color: var(--_texto);
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}
.seccionAboutMe button:hover{
    background-color: var(--colorBorde);
    color: var(--_fondoPanel);
}
.seccionAboutMe button:active{
    background-color: var(--_fondoPanel);
    color: var(--colorBorde);
    transform: translate(0, 2px);
}
