
.themeToggle {
	display: flex;
    align-items: center;
    justify-content: center;
	gap: 20px;
	left: 0;
	top: 0;
	background: #444;
    writing-mode: vertical-lr;
}

.themeBtn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    display: flex;         /* Usamos flexbox dentro del botón */
    flex-direction: row; /* Alinea etiqueta e indicador verticalmente */
    align-items: center;
    gap: 8px;              /* Espacio entre el texto y el cuadrado */
}
.themeBtnLabel {
	color: #fff;
}

.themeBtnIndicator {
    width: 40px;          
    height: 40px; 
	border: 2px solid #000;        
    background: #fff;     
    display: block;       
    transition: transform 0.3s ease; 
}

/* Efecto opcional: Que el cuadrado gire o resalte cuando esté activo */
.themeBtn.active .themeBtnIndicator {
	border: 1px solid #fff;
    background: #222;  
}
