.navInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 12px;
    font-family: var(--fuenteTitulo);


}

.navText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: auto;
    padding: 20px;
}
.navText h1{
    font-weight: 100;
    font-size: var(--tamanoTitulo);
    color: var(--colorTextoLight);

}
.navText p{
    color: var(--colorTextoLight);
    margin-left: auto;
    text-decoration: underline;
    font-weight: 100;

}


.navLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: auto;

    gap: 30px;
}