.navInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 12px;
}

.navText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: auto;
    padding: 20px;
}
.navText h1{
    font-size: 2rem;
    color: #333;

}
.navText p{
    color: #555;
    margin-left: 20px;

}


.navLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: auto;

    gap: 30px;
}