@use "../../global/variable" as v;

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: v.$fondoPanel;
    transition: background-color 0.5s ease;
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid v.$colorBorde;
    border-bottom: none;
    h1 {
        font-family: v.$fuenteTitulo;
        font-weight: v.$grosorTitulo;
        font-style: v.$estiloTitulo;
        font-size: 6rem;
        color: v.$texto;
        transition: color 0.5s eas;
    }
    p {
        align-self: stretch;
        margin-left: 0;
        //padding-left: 2ch;
        display: flex;
        align-items: center;
        //gap: clamp(10px, 2vw, 24px);
        font-family: v.$fuenteTexto;
        font-weight: v.$grosorTexto;
        font-style: v.$estiloTexto;
        font-size: 1.5rem;
        color: v.$texto;
        transition: color 0.5s ease;
    }
    p::after {
        content: "";
        flex: 1;
        height: 5px;
        background-color: v.$linea;
        transition: background-color 0.5s ease;
        transform-origin: left center;
        animation:
            subtitleLineReveal 5000ms ease-out forwards,
            subtitleLineFlow 3.2s ease-in-out 2000ms infinite;
    }
    @keyframes subtitleLineReveal {
        from {
            transform: scaleX(0);
            opacity: 0;
        }

        to {
            transform: scaleX(1);
            opacity: 1;
        }
    }

    @keyframes subtitleLineFlow {
        0% {
            opacity: 0.5;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0.5;
        }
    }
}
