@use "../global/variables" as v;
@use "../global/tools" as t;

.contenedorFooter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--_fondoPanel);
    margin-top: 8px;
    padding: 16px;
    transition: background-color 0.5s ease;

    p {
        font-family: v.$fuenteTexto;
        font-weight: v.$grosorTexto;
        font-style: v.$estiloTexto;
        color: var(--_texto);
        font-size: t.fluido(0.8rem, 1rem);
        transition: color 0.5s ease;
       //border-left: 1px solid var(--colorBorde);
        padding-left: 16px;
    }
    .copyright{
        align-self: end;
        font-size: 12px;
    }
    .privacy {
        a {
           // border-left: 1px solid var(--colorBorde);
            padding-left: 16px;
        }
    }
    .info,
    .privacy {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        font-family: v.$fuenteTexto;
        font-size: t.fluido(0.5rem, 0.8rem);

        .social-icons {
            display: flex;
            gap: 10px;
            a {
                color: var(--_texto);
                font-size: 1.8rem;
                //padding: 4px;
                transition: color 0.3s ease;
                &:hover {
                    color: var(--_textoHover);
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 34px;
        
        p{
            padding-left: 0;
        }
        .social-icons, .privacy {
            gap: 8px;
            a {
                font-size: 1rem;
                padding: 0;
                
            }
        }
        
    }
}
