@use "../global/variables" as v;
@use "../global/tools" as t;

.nav {
    display: flex;
    flex-direction: row;
    background-color: var(--_fondoPanel);
    border: 1px solid var(--colorBorde);
    align-items: flex-start;
    font-family: v.$fuenteTexto;
    @media (max-width: 1200px) {
        font-size: t.fluido(0.8rem, 1rem);
    }
    font-size: 1rem;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-left: 10px;
    }
    li {
     padding: 8px 12px;
    }
    a {
        color: var(--_texto);
        transition: color 0.2s ease;
    }
    a:hover {
        color: var(--_textoHover);
        transition: color 0.2s ease;
    }
    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #999;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.8s ease;
    }
    a:hover::after,
    a:focus-visible::after {
        transform: scaleX(0.9);
    }
}
